img {
    display: inline-block;
    background: black;
    padding: 1px;
    margin-top: 10px;
}
.but {
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;    
}
div.link00 {
    color: red;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    margin-bottom: 10px;
}
p {
    text-transform: capitalize;
    text-decoration: underline;
}
body {
    background-color: cyan;
}
div.link005 {
    color: blue;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 15px;
    display: inline-block;
    text-align: center;
}
.tabl {
    background-color: lightseagreen;
    display: inline-block;
}
table, th, td {
    border: 1px solid;
}